ORIGIN=http://localhost:3000

DATABASE_URL=
REDIS_URL=

AUTH_SESSION_SECRET=
HONEYPOT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=
RESEND_EMAIL_DOMAIN=

IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=

PHISHING_API_URL=http://localhost:8000/predict
PHISHING_API_KEY=your-secret-key